<div class="row">
  <div class="col-md-12">
    <h3>{{ "metrics.title" | translate }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 col-md-12 col-sm-12 mt-3">
    <total-events-processed></total-events-processed>
  </div>
  <div class="col-xl-6 col-md-12 col-sm-12 mt-3">
    <events-by-timeslice></events-by-timeslice>
  </div>
  <div class="col-xl-6 col-md-12 col-sm-12 mt-3">
    <events-by-type></events-by-type>
  </div>

  <div class="col-xl-6 col-md-12 col-sm-12 mt-3">
    <events-by-source></events-by-source>
  </div>
  <div class="col-xl-6 col-md-12 col-sm-12 mt-3">
    <events-by-destination></events-by-destination>
  </div>
  <div class="col-xl-6 col-md-12 col-sm-12 mt-3">
    <events-by-status></events-by-status>
  </div>
</div>
