<div id="forgot-password-row" class="row">
  <div id="forgot-password-column" class="col-md-6">
    <div id="forgot-password-box" class="col-md-12 shadow">
      <form
        *ngIf="!complete"
        id="forgot-password-form"
        class="form"
        [formGroup]="forgotPasswordForm"
      >
        <h3>{{ "forgotPasswordPage.title" | translate }}</h3>
        <p>{{ "forgotPasswordPage.text" | translate }}</p>
        <div class="form-group">
          <label for="username">{{
            "forgotPasswordPage.userName" | translate
          }}</label
          ><br />
          <input
            autocapitalize="none"
            autocomplete="username"
            type="text"
            name="username"
            id="username"
            formControlName="username"
            class="form-control"
            [ngClass]="{
              'is-valid': username.valid,
              'is-invalid':
                username.invalid && (username.dirty || username.touched)
            }"
            required
          />
          <div
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="username.errors.required">
              {{ "forgotPasswordPage.usernameRequiredError" | translate }}
            </div>
            <div *ngIf="username.errors.minlength || username.errors.maxlength">
              {{ "forgotPasswordPage.usernameLengthError" | translate }}
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center mb-0">
          <input
            type="button"
            (click)="resetPassword()"
            class="btn btn-primary"
            value="{{ 'forgotPasswordPage.submit' | translate }}"
          />
          <div
            class="spinner-border text-light ml-3"
            role="status"
            *ngIf="showProgress"
          >
            <span class="sr-only">Loading...</span>
          </div>
          <input
            type="button"
            (click)="cancel()"
            class="btn btn-secondary ml-3"
            value="{{ 'forgotPasswordPage.cancel' | translate }}"
          />
        </div>
      </form>
      <div *ngIf="complete" class="forgot-password-message">
        {{ "forgotPasswordPage.complete" | translate }}
        <div class="form-group mt-3 mb-0">
          <input
            type="button"
            (click)="cancel()"
            class="btn btn-secondary"
            value="{{ 'forgotPasswordPage.returnToLogin' | translate }}"
          />
        </div>
      </div>
      <div class="forgot-password-error">
        {{ forgotPasswordError }}
      </div>
    </div>
  </div>
</div>
