<div id="reset-password-row" class="row">
  <div id="reset-password-column" class="col-md-6">
    <div id="reset-password-box" class="col-md-12 shadow">
      <form
        *ngIf="valid && !resetComplete"
        id="reset-password-form"
        class="form"
        [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPassword()"
      >
        <h3>{{ "resetPasswordPage.title" | translate }}</h3>
        <h6 class="invalid" *ngIf="resetError != ''">
          {{ "errorsAPI." + resetError | translate }}
        </h6>
        <p>{{ "resetPasswordPage.text" | translate }}</p>
        <div class="form-group">
          <label for="password">{{
            "resetPasswordPage.newPassword" | translate
          }}</label
          ><br />
          <input
            autocapitalize="none"
            autocomplete="new-password"
            type="password"
            name="password"
            id="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{
              'is-valid': password.valid,
              'is-invalid':
                password.invalid && (password.dirty || password.touched)
            }"
            required
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="password.errors.required">
              {{ "resetPasswordPage.passwordRequiredError" | translate }}
            </div>
            <div *ngIf="password.errors.minlength || password.errors.maxlength">
              {{ "resetPasswordPage.passwordLengthError" | translate }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirm_password">{{
            "resetPasswordPage.confirmPassword" | translate
          }}</label
          ><br />
          <input
            autocapitalize="none"
            autocomplete="new-password"
            type="password"
            name="confirm_password"
            id="confirm_password"
            formControlName="confirm_password"
            class="form-control"
            [ngClass]="{
              'is-valid': confirm_password.valid,
              'is-invalid':
                confirm_password.invalid &&
                (confirm_password.dirty || confirm_password.touched)
            }"
            required
          />
          <div
            *ngIf="
              confirm_password.invalid &&
              (confirm_password.dirty || confirm_password.touched)
            "
            class="invalid-feedback"
          >
            <div *ngIf="confirm_password.errors.required">
              {{ "resetPasswordPage.passwordRequiredError" | translate }}
            </div>
            <div
              *ngIf="
                confirm_password.errors.minlength ||
                confirm_password.errors.maxlength
              "
            >
              {{ "resetPasswordPage.passwordLengthError" | translate }}
            </div>
            <div *ngIf="confirm_password.errors.mismatch">
              {{ "resetPasswordPage.passwordMismatchError" | translate }}
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center mb-0">
          <input
            type="submit"
            class="btn btn-primary"
            value="{{ 'resetPasswordPage.submit' | translate }}"
          />
          <div
            class="spinner-border text-light ml-3"
            role="status"
            *ngIf="showProgress && !changePass"
          >
            <span class="sr-only">Loading...</span>
          </div>
          <div
            class="spinner-border text-dark ml-3"
            role="status"
            *ngIf="showProgress && changePass"
          >
            <span class="sr-only">Loading...</span>
          </div>
          <input
            *ngIf="!changePass"
            type="button"
            (click)="cancel()"
            class="btn btn-secondary ml-3"
            value="{{ 'resetPasswordPage.cancel' | translate }}"
          />
          <input
            *ngIf="changePass"
            type="button"
            (click)="cancelHome()"
            class="btn btn-secondary ml-3"
            value="{{ 'resetPasswordPage.cancel' | translate }}"
          />
        </div>
      </form>
      <div *ngIf="checking" class="reset-password-message">
        {{ "resetPasswordPage.verifying" | translate }}
        <div class="text-center mt-3">
          <div class="spinner-border text-light" role="status">
            <span class="sr-only">Verifying...</span>
          </div>
        </div>
      </div>
      <div
        *ngIf="!resetComplete && !checking && !valid"
        class="reset-password-message"
      >
        {{ "resetPasswordPage.linkExpired" | translate }}
        <div class="form-group mt-3 mb-0">
          <input
            type="button"
            (click)="returnToForgotPassword()"
            class="btn btn-secondary"
            value="{{ 'resetPasswordPage.returnToForgotPassword' | translate }}"
          />
        </div>
      </div>
      <div *ngIf="resetComplete && !changePass" class="reset-password-message">
        {{ "resetPasswordPage.passwordChanged" | translate }}
        <div class="form-group mt-3 mb-0">
          <input
            type="button"
            (click)="cancel()"
            class="btn btn-secondary"
            value="{{ 'resetPasswordPage.login' | translate }}"
          />
        </div>
      </div>
      <div *ngIf="resetComplete && changePass" class="reset-password-message">
        {{ "resetPasswordPage.passwordChangedHome" | translate }}
        <div class="form-group mt-3 mb-0">
          <input
            type="button"
            (click)="cancelHome()"
            class="btn btn-secondary"
            value="{{ 'resetPasswordPage.return' | translate }}"
          />
        </div>
      </div>
      <div class="reset-password-error">
        {{ resetPasswordError }}
      </div>
    </div>
  </div>
</div>
