#reset-password-row #reset-password-column #reset-password-box {
  margin-top: auto;
  max-width: 500px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 50px rgba(0,0,0,0.4);
  position:relative;
}

#reset-password-row #reset-password-column #reset-password-box #reset-password-form {
  padding: 20px;
}

.reset-password-message {
	padding: 20px;
}

#reset-password-row #reset-password-column #reset-password-box #reset-password-form #register-link {
  margin-top: -85px;
}

#reset-password-form label{
	color: #333333;
}

#reset-password-form h3{
	color: #333333;
	margin-bottom:20px;
}

#reset-password-form a{
	color: #000;
}

.invalid-feedback {
    color: #990000 !important
}

.reset-password-error{
	padding: 0 20px 20px;
	color: #990000
}
